<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>jankengame</title>
</head>

<body>
  <h1>Janken GAME!</h1>
  <p th:if="${username}">Hi <span th:text="${username}"></span>!</p>
  <p>
    <a href="/janken?hand=rock">グー</a>
    <a href="/janken?hand=scissors">チョキ</a>
    <a href="/janken?hand=paper">パー</a>
  </p>
  <div th:if="${userHand != null}">
    <p>あなたの手: <span th:text="${userHand}"></span></p>
    <p>相手の手: <span th:text="${cpuHand}"></span></p>
    <p>結果: <span th:text="${result}"></span></p>
  </div>
</body>

</html>
