<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>jankengame</title>
</head>

<body>
  <p>
    <a href="/logout">ログアウト</a>
  </p>
  <h1>Janken GAME!</h1>

  <p th:if="${name != null}">Hi <span th:text="${name}"></span>!</p>

  <div th:if="${users}">
    <h2>エントリー</h2>
    <ul>
      <li th:each="user:${users}">
        <a th:href="@{/match(cpuid=${user.id})}">[[${user.name}]]</a>
      </li>
    </ul>
  </div>

  <div th:if="${matches}">
    <h2>試合結果</h2>
    <span th:each="match:${matches}">
      id:[[${match.id}]] user1:[[${match.user1}]] user2:[[${match.user2}]] user1の手:[[${match.user1Hand}]]
      user2の手:[[${match.user2Hand}]]
      <br />
    </span>
  </div>

</body>

</html>
