<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>match</title>
</head>

<body>
  <p><a href="/logout">ログアウト</a></p>
  <h1>Match</h1>

  <h2 th:if="${name != null and cpu != null}">
    <span th:text="${name}"></span> V.S.
    <span th:text="${cpu.name}"></span>
  </h2>

  <p th:if="${cpu != null}">
    <span>Select Your Hand: </span>
    <a th:href="@{/fight(hand='rock', cpuid=${cpu.id})}">rock</a>
    <a th:href="@{/fight(hand='scissors', cpuid=${cpu.id})}">scissors</a>
    <a th:href="@{/fight(hand='paper', cpuid=${cpu.id})}">paper</a>
  </p>

  <div th:if="${userHand != null}">
    <span>あなたの手: <span th:text="${userHand}"></span></span><br />
    <span>相手の手: <span th:text="${cpuHand}"></span></span><br />
    <span>結果: <span th:text="${result}"></span></span><br />
  </div>

  <p><a href="/janken">もどる</a></p>
</body>

</html>
